# See the "Automating queries with Python" section of the docs for more information on how to get these env variables
# https://palewi.re/docs/first-athena-query/#automating-queries-with-python
AWS_ACCESS_KEY=
AWS_SECRET_KEY=